<%- include("partials/header") -%>
<div class="container">
    <center>
        <div class="col-sm-8">
            
            <div class="card card-error text-center">
                <div class="card-body">
                <h1 class="card-title">ABOUT</h1><br>
                <p class="card-text">We strive to give you the most curated blogging experience because you deserve nothing less 🤗.</p><br>
                
                </div>
            </div>             
        </div>
    </center>
</div>


<%- include("partials/footer") -%>

