<%- include("partials/header")-%>
<h1 class="text-center">COMPOSE</h1>

<div class="container">
    <center>
    <div class="col-sm-8">
        <form action="/compose" method="post">

            <div class="form-group">
                <label class="log-label-com" for="genreName">Genre</label>
                <select class="form-select" name="genreName" aria-label="Default select example">                    
                    <option value="nothing" selected>Select genre</option>
                          <option value="Food Blog">Food Blog</option>
                          <option value="Travel Blog">Travel Blog</option>
                          <option value="Health Blog">Health Blog</option>
                          <option value="Sports Blog">Sports Blog</option>
                          <option value="Movie Blog">Movie Blog</option>
                          <option value="Tech Blog">Tech Blog</option>
                  </select>
                 
            </div><br>
            <div class="form-group">
                <label class="log-label-com" for="postTitle">Title</label>
                <input type="text" class="form-control" id="postTitle" name="postTitle">       
            </div>
            <div class="form-group"><br>
                <label class="log-label-com" for="postBody">Post</label>
                <textarea class="form-control" id="postBody" rows="16" name="postBody"></textarea>
              </div><br>
    
            <div class="text-center">
                <button type="submit" class="btn btn-lg btn-outline-light">Submit</button>
    
            </div>           
        </form>
    </div>
    </center>
</div>


<%- include("partials/footer")-%>