<%- include("partials/header") -%>

div class="background">
  <div class="container">
    <div class="screen">
      <div class="screen-header">
        <div class="screen-header-left">
          <div class="screen-header-button close"></div>
          <div class="screen-header-button maximize"></div>
          <div class="screen-header-button minimize"></div>
        </div>
        <div class="screen-header-right">
          <div class="screen-header-ellipsis"></div>
          <div class="screen-header-ellipsis"></div>
          <div class="screen-header-ellipsis"></div>
        </div>
      </div>
      <div class="screen-body">
        <div class="screen-body-item left">
          <div class="app-title">
            <span>CONTACT US</span>
            
          </div>
          <div class="app-contact">CONTACT INFO : +91 9448932131</div>
        </div>
        <div class="screen-body-item">
          <div class="app-form">
            <form action="/contact" method="post">
            <div class="app-form-group">
              <input type="text" class="form-control" name="name" placeholder="NAME">
            </div>
            <div class="app-form-group">
              <input type="text" class="form-control" name="email" placeholder="EMAIL">
            </div>            
            <div class="app-form-group message">
              <input type="text" class="form-control" name="message" placeholder="MESSAGE">
            </div>
            
              <div class="app-form-group buttons">              
                <button class="app-form-button" name="contact">SEND</button>
              </div>
            </form>
            
          </div>
        </div>
      </div>
    </div>
   
  </div>
</div>


<%- include("partials/footer") -%>