<%- include("partials/header")-%>

<div class="row text-center">
    <div class="col-sm-6">
        <div class="card card-home text-center">
            <div class="card-body">
              <h1 class="card-title">Compose Blogs</h1><br>
              <p class="card-text">To get started with your blogging journey click the button below ;)</p>
              <a href="/compose" class="btn btn-lg btn-outline-light">Blog</a>
            </div>
          </div>
      </div>
    <div class="col-sm-6">
        <div class="card card-home text-center">
            <div class="card-body">
              <h1 class="card-title">Read Blogs</h1><br>
                <div class="list-group">
                    <a href="/genre/foodBlog" class="list-group-item list-group-item-action list-group-item-info">Food blogs</a>              
                    <a href="/genre/travelBlog" class="list-group-item list-group-item-action list-group-item-primary">Travel blogs</a>
                    <a href="/genre/fitBlog" class="list-group-item list-group-item-action list-group-item-secondary">Health and fitness blogs</a>
                    <a href="/genre/sportsBlog" class="list-group-item list-group-item-action list-group-item-success">Sports blogs</a>
                    <a href="/genre/movieBlog" class="list-group-item list-group-item-action list-group-item-danger">Movie blogs</a>
                    <a href="/genre/techBlog" class="list-group-item list-group-item-action list-group-item-warning">Tech Blogs</a>
                    
                </div>           
            </div>
          </div>
        
    </div>
</div>
<%- include("partials/footer")-%>