<%- include("partials/header") -%>
<div class="container">
    <h1 class="text-center"><%= title %></h1><br>  
    <p id="postContent" class="p-4"><%= content %></p>    
</div>
<%- include("partials/footer") -%>